.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wed {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card {
  width: 100px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00000006;
  gap: 10px;
  border-radius: 5px;
}
.card > img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
}
.text {
  font-size: 8px;
  font-weight: 700;
}
.pri {
  width: 10px;
  height: 10px;
  background-color: yellow;
  border-radius: 10px;
  font-size: 5px;
  text-align: center;
  border: none;
  margin-bottom: 20px;
}
.price {
  font-size: 5px;
  font-weight: 700;
}
