.container {
  width: 2000px;
  height: 1000px;
  display: flex;
  flex-direction: column;
}
.box {
  /* 부모가Flex면 사이좋게 형제끼리 n빵 */
  width: 100%;
  height: 100%;
}
.mint {
  background-color: mediumspringgreen;
}
.sky {
  background-color: skyblue;
}
.blue {
  background-color: blue;
}
.peo {
  background-color: purple;
}
.black {
  background-color: black;
}
